main#contenedor-login {
  display: flex;                               /* flexbox para alinear los elementos internos */
  justify-content: center;                     /* centrar horizontalmente los hijos */
  align-items: center;                         /* centrar verticalmente los hijos */
  min-height: calc(100vh - 100px - 110px);     /* se ajusta la altura mínima del contenedor */
  background-color: #ffffff;                 /* color de fondo del componente */
  padding: 20px;                               /* espaciado del contenedor */
  font-family: "badcomic";                     /* tipo de letra usada */
}

main#contenedor-login .contenedor-formulario {
  width: 450px;                                    /* limita el ancho del contenedor de texto para mantener la legibilidad */
  display: flex;                                   /* flexbox para alinear los elementos internos */
  flex-direction: column;                          /* los elementos hijos se acomodan verticalmente */
  padding: 20px;                                   /* espaciado del contenedor */
  border: 2px solid black;                       /* color y grosor del borde */
  border-radius: 15px;                             /* redondeo de los bordes */
  background-color: lightblue;                   /* color de fondo del contenedor del formulario */
}

main#contenedor-login .contenedor-formulario h3 {
  margin-bottom: 20px;           /* margen de 20px hacia abajo */
  text-align: center;            /* se centra horizontalmente el texto del titulo del contenedor */
  font-size: 2rem;               /* tamaño de la letra del titulo */
  font-weight: bold;             /* negrita para el texto */
}

main#contenedor-login .contenedor-formulario .input-group {
  margin-bottom: 15px;            /* margen de 15px hacia abajo para cada input */
}

main#contenedor-login .contenedor-formulario .form-control {
  font-size: 1rem;               /* tamaño de la letra de los input */
  padding: 10px;                 /* espaciado del input */
  border-radius: 6px;            /* redondeo de los bordes */
  border: 1px solid #ccc;      /* color y grosor del borde */
  width: 100%;                   /* se asegura que se ocupe todo el ancho */
}

main#contenedor-login .contenedor-formulario .enlace-ingreso {
  margin-bottom: 15px;    /* margen de 15px hacia abajo del contenedor del enlace de ingreso */
  text-align: center;     /* se centra horizontalmente el texto del contenedor del enlace */
}

main#contenedor-login .contenedor-formulario .enlace-ingreso a {
  color: #ae16b6;          /* color del enlace */
  text-decoration: none;     /* se quita el subrayado del enlace */
}

main#contenedor-login .contenedor-formulario .btn {
  display: block;                 /* hace que el botón ocupe toda la línea disponible */
  margin: 0 auto;                 /* centro el boton horizontalmente */
  width: 35%;                     /* el botón ocupa el 35% del ancho de su contenedor padre */
  padding: 10px;                  /* espaciado de 10px del interior del boton */
  font-size: 1rem;                /* tamaño de la letra del boton de envio del formulario */
  font-weight: bold;              /* negrita para el texto */
  border-radius: 10px;            /* redondeo de los bordes */
  background-color: yellow;     /* color de fondo del boton */
  border: 0px;                    /* quitamos el borde del boton */
  color: black;                 /* color del texto del boton */
  cursor: pointer;                /* estilo del cursor cuando el mouse esta sobre el boton */
  transition: transform 0.3s ease, background-color 0.4s ease, color 0.4s ease;      /* animaciones suaves al pasar el mouse sobre el boton */
}

main#contenedor-login .contenedor-formulario .btn:hover {
  background-color: rgb(231, 231, 0);      /* color de fondo del boton cuando este el mouse sobre el boton */
}

#modalError {
    background-color: rgb(255, 122, 122);  /* color de fondo del modal */
    border-color: rgb(255, 37, 37);        /* color del borde del modal */
    border-radius: 18px;                     /* redondeo de los bordes */
    text-align: center;                      /* se centra horizontalmente el contenido del modal */
    font-family: "badcomic";                 /* tipo de letra usada en el modal */
}

/* cuando la pantalla tenga un ancho inferior a 992px (pantallas pequeñas) */
@media (width < 992px) {
  main#contenedor-login .contenedor-formulario {
    width: 90%;           /* el contenedor del formulario ocupa el 90% del ancho de su contenedor padre */
  }

  main#contenedor-login .contenedor-formulario h3 {
    font-size: auto;      /* tamaño de la letra del titulo se ajusta automaticamente segun el ancho disponible */
  }
}

/* cuando el componente home este pantallas ultra grandes (1440p o más) */
@media (width >= 2560px) and (height >= 1440px) {
  main#contenedor-login .contenedor-formulario {
    width: 30%;           /* el ancho del contenedor se establece en el 30% del ancho del contenedor padre */
    min-height: auto;     /* se establece la altura mínima como automática */
  }

  main#contenedor-login .contenedor-formulario .form-control {
    font-size: 2rem;       /* se aumenta el tamaño de la letra de los input */
    border-radius: 16px;   /* se ajusta el redondeo de los bordes */
  }

  main#contenedor-login .contenedor-formulario h3 {
    font-size: 4rem;       /* se aumenta el tamaño de la letra del titulo */
  }

  main#contenedor-login .contenedor-formulario .enlace-ingreso {
    font-size: 1.95rem;     /* se aumenta el tamaño de la letra del contenedor de enlace de ingreso */
  }

  main#contenedor-login .contenedor-formulario .btn {
    font-size: 2rem;         /* se aumenta el tamaño de la letra del boton */
    border-radius: 15px;     /* se ajusta el redondeo de los bordes */
  }
}