main#contenedor-menu-usuario {
  display: flex;                    /* flexbox para alinear los elementos internos */
  justify-content: center;          /* centrar horizontalmente los hijos */
  align-items: center;              /* centrar verticalmente los hijos */
  background-color: #ffffff;      /* color de fondo del componente */
  padding: 90px;                    /* espaciado del contenedor */
  font-family: "badcomic";          /* tipo de letra usada */
  height: 100vh;                    /* se establece la altura del correspondiente a la altura del viewport */
}

main#contenedor-menu-usuario .menu-usuario {
  width: 70%;                       /* limita el ancho del contenedor de texto para mantener la legibilidad */
  height: auto;                     /* la altura se establece automaticamente respecto al contenedor padre */
  display: flex;                    /* flexbox para alinear los elementos internos */
  flex-direction: column;           /* los elementos hijos se acomodan verticalmente */
  padding: 25px;                    /* espaciado del contenedor */
  border: 3px solid black;        /* color y grosor del borde */
  border-radius: 15px;              /* redondeo de los bordes */
  background-color: #d6eaff;      /* color de fondo del contenedor del formulario */
}

main#contenedor-menu-usuario .menu-usuario .parte-superior {
  display: flex;                      /* flexbox para alinear los elementos internos */
  justify-content: space-between;     /* para dejar espacio entre los elementos internos */
  align-items: center;                /* centrar verticalmente los hijos */
  flex-wrap: wrap;                    /* permite que el contenido salte de línea si no cabe */
}

main#contenedor-menu-usuario .menu-usuario .parte-superior h2 {
  font-size: 2.3rem;    /* tamaño de la letra del titulo */
}

main#contenedor-menu-usuario .menu-usuario .parte-superior .botones {
  display: flex;                      /* flexbox para alinear los elementos internos */
  justify-content: space-between;     /* para dejar espacio entre los elementos internos */
  gap: 0.8rem;                        /* espacio entre los botones */
}

main#contenedor-menu-usuario .menu-usuario .parte-superior .botones .btn {
  padding: 10px;           /* espaciado interior de los botones */
  font-size: 1.5rem;       /* tamaño de la letra de los botones */
  color:black;           /* color de la letra de los botones */
  border-radius: 10px;     /* redondeo de los bordes */
  border:0;                /* quitamos el borde del boton */
}

main#contenedor-menu-usuario .menu-usuario .parte-superior .botones .btn-secondary {
  background-color: yellow;    /* color de fondo del boton de ajustes */
}

main#contenedor-menu-usuario .menu-usuario .parte-superior .botones .btn-secondary:hover {
  background-color: rgb(231, 231, 0);    /* color de fondo del boton de ajustes cuando este el mouse sobre el boton */
}

main#contenedor-menu-usuario .menu-usuario .parte-inferior {
  margin-top: 1.7rem;     /* margen superior al contenedor que tiene el carrusel */
}

main#contenedor-menu-usuario .menu-usuario .parte-inferior #carrusel-materias .contenido-carrusel {
  border: 2px solid black;   /* color y grosor del borde */
  text-align: center;          /* se centra horizontalmente el contenido del carrusel */
  border-radius: 13px;         /* redondeo de los bordes */
}

main#contenedor-menu-usuario .menu-usuario .parte-inferior #carrusel-materias h5 {
  font-family: "cursecasual";     /* tipo de letra usada */
  font-size: 2.7rem;              /* tamaño de la letra del titulo del panel del carrusel */
  letter-spacing: 2px;            /* espaciado entre cada letra del titulo */
  color: white;                 /* color del texto del titulo */
}

main#contenedor-menu-usuario .menu-usuario .parte-inferior #carrusel-materias img {
  margin-top: 20px;    /* margen superior respecto a la imagen */
  cursor: pointer;     /* estilo del cursor cuando el mouse esta sobre el boton */
  width: 50%;          /* ancho de la imagen */
  height: auto;        /* mantenemos la proporción de la imagen al ajustar el ancho */
}

#modal[open],#modal2[open]{ 
  scale: 1;                            /* se escala el modal a su tamaño normal cuando se hace visible */ 
  transition: scale .3s ease-in-out;   /* animación suave del escalado del modal */

  @starting-style {
    scale: 0;                          /* estado inicial del modal antes de hacerse visible */
  }
}

#modal,#modal2{
  border-radius: 18px;                   /* redondeo de los bordes */
  text-align: center;                    /* se centra horizontalmente el contenido del modal */
  font-family: "badcomic";               /* tipo de letra usada en el modal */
  scale: 0;                              /* estado inicial del modal (se usa con 'transition') */
  transition: scale .3s ease, display .3s ease allow-discrete;    /* animación suave del escalado del modal para cerrarlo (solo en Chrome) */
}

.modalMensaje {
  background-color: rgb(197, 122, 255);   /* color de fondo del modal */
  border-color: rgb(168, 37, 255);        /* color del borde del modal */
}

.p-modal {
  white-space: pre-line;      /* se interprete los saltos de linea dentro del parrafo del modal */
}

/* colores de fondo con degradado para cada materia */
main#contenedor-menu-usuario .menu-usuario .parte-inferior #carrusel-materias .geografia {
  background: linear-gradient(135deg, #7b2ff7, #f107a3);
}
main#contenedor-menu-usuario .menu-usuario .parte-inferior #carrusel-materias .lengua {
  background: linear-gradient(135deg, #56ccf2, #2f80ed);
}
main#contenedor-menu-usuario .menu-usuario .parte-inferior #carrusel-materias .matematicas {
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
}
main#contenedor-menu-usuario .menu-usuario .parte-inferior #carrusel-materias .quimica {
  background: linear-gradient(135deg, #f2994a, #f2c94c);
}

/* cuando la pantalla tenga un ancho inferior a 992px (pantallas pequeñas) */
@media (width < 992px) {
  main#contenedor-menu-usuario {
    padding: 25px;     /* reducimos el espaciado del contenedor */
  }

  main#contenedor-menu-usuario .menu-usuario {
    width: 100%;       /* ocupamos todo el ancho del contenedor padre */
    padding: 20px;     /* reducimos el espaciado del contenedor */
  }

  main#contenedor-menu-usuario .menu-usuario .parte-superior h2 {
    font-size: 1.7rem;         /* reducimos el tamaño de la letra */
    padding-bottom: 5px;     /* añadimos un margen inferior */
  }

  main#contenedor-menu-usuario .menu-usuario .parte-superior .botones {
    margin: 0 auto;     /* centramos los botones */
  }

  main#contenedor-menu-usuario .menu-usuario .parte-superior .botones .btn {
    font-size: 1.3rem;     /* reducimos el tamaño de la letra */
  }

  main#contenedor-menu-usuario .menu-usuario .parte-inferior {
    margin-top: 1.5rem;    /* reducimos el margen superior */
  }

  main#contenedor-menu-usuario .menu-usuario .parte-inferior #carrusel-materias h5 {
    font-size: 2.4rem;      /* reducimos el tamaño de la letra */
    letter-spacing: 1px;    /* reducimos el espaciado entre cada letra del titulo */
  }

  main#contenedor-menu-usuario .menu-usuario .parte-inferior #carrusel-materias img {
    margin-top: 15px;      /* reducimos el margen superior */
    width: 60%;            /* aumentamos el ancho de la imagen */
  }
}

/* cuando el componente home este pantallas ultra grandes (1440p o más) */
@media (width >= 2560px) and (height >= 1440px) {
  main#contenedor-menu-usuario {
    padding: 110px;        /* aumentamos el espaciado del contenedor */
  }

  main#contenedor-menu-usuario .menu-usuario {
    width: 60%;            /* reducimos el ancho del contenedor */
    padding: 35px;         /* aumentamos el espaciado del contenedor */
  }

  main#contenedor-menu-usuario .menu-usuario .parte-superior h2 {
    font-size: 3rem;       /* aumentamos el tamaño de la letra */
  }

  main#contenedor-menu-usuario .menu-usuario .parte-superior .botones {
    gap: 1rem;     /* aumentamos el espacio entre los botones */
  }

  main#contenedor-menu-usuario .menu-usuario .parte-superior .botones .btn {
    padding: 11px;     /* aumentamos el espaciado del boton */
    font-size: 2rem;   /* aumentamos el tamaño de la letra */
  }

  main#contenedor-menu-usuario .menu-usuario .parte-inferior #carrusel-materias h5 {
    font-size: 3.5rem;        /* aumentamos el tamaño de la letra */
    letter-spacing: 2.1px;    /* aumentamos el espaciado entre cada letra del titulo */
  }
}
