<!-- contenedor principal para el contenido del componente -->
<main id="contenedor-registro">

    <!-- contenedor para el formulario de registro -->
    <section class="formulario-registro">
        <a routerLink="/login">Volver</a> <!-- enlace para volver a la página de login -->
        <h2>🤖 MODIFICACIÓN DE DATOS 🤖</h2>
        <form [formGroup]="formularioUpdate" (submit)="enviarFormularioUpdate($event)">

            <!-- contenedor para el input del nombre de usuario -->
            <div class="input-group">
                <label class="label-input" for="user">Nombre de usuario&nbsp;&nbsp;<i class="fa-solid fa-user-secret"></i></label>
                <input type="text" class="form-control" id="user" placeholder="Introduce tu nuevo nombre de usuario..." title="Solo letras minúsculas, números y guión bajo, hasta 15 caracteres." formControlName="usuario"/>
            </div>

            <!-- contenedor para el input de la direccion email del nuevo usuario -->
            <div class="input-group">
                <label class="label-input" for="mail">Email&nbsp;&nbsp;<i class="fa-regular fa-envelope"></i></label>
                <input type="text" class="form-control" id="mail" placeholder="Introduce tu nueva dirección de email..." title="Solo correos electrónicos válidos." formControlName="email"/>
            </div>

            <!-- contenedor para el input en el usuario debe escribir su contraseña antigua -->
            <div class="input-group">
                <label class="label-input" for="confirmPass">Anterior contraseña&nbsp;&nbsp;<i class="fa-solid fa-key"></i></label>
                <input type="password" class="form-control" id="lastPass" placeholder="Introduce tu antigua contraseña" title="Tu anterior contraseña." formControlName="lastPass"/>
            </div>

            <!-- contenedor para el input en el usuario debe escribir su contraseña nueva -->
            <div class="input-group">
                <label class="label-input" for="pass">Nueva contraseña&nbsp;&nbsp;<i class="fa-solid fa-key"></i></label>
                <input type="password" class="form-control" id="newPass" placeholder="Introduce tu nueva contraseña..." title="De 6-12 caracteres, al menos 1 mayúscula, 1 número, 1 carácter especial y sin espacios." formControlName="newPass"/>
            </div>

            <!-- contenedor para checkbox opcional si el usuario quiere modificar el uso de sus datos para terceros -->
            <div class="input-group">
                <input type="checkbox" class="form-check-input" id="thirdParties" formControlName="thirdParties"/>
                <label class="form-check-label" for="thirdParties" title="Opcional.">Acepto que mis datos se usen por terceros.</label>  
            </div>

            <div class="g-recaptcha"></div> <!-- contenedor para el reCAPTCHA -->

            <button type="submit" class="btn btn-primary">Actualizar</button> <!-- boton de envio del formulario -->
        </form>
    </section>
</main>

<!-- modal para mostrar los mensajes de error cuando se envia el email -->
<dialog id="modal">

    <!-- formulario para el modal (obligatorio que el metodo sea dialog) -->
    <form method="dialog">
        <p [textContent]="mensajeModal" class="p-modal"></p>
        <button type="submit" class="btn btn-dark">CERRAR</button> <!-- boton para cerrar el modal -->
    </form>
</dialog>
