main#contenedor-menu-ajustes {
    display: flex;                    /* flexbox para alinear los elementos internos */
    justify-content: center;          /* centrar horizontalmente los hijos */
    align-items: center;              /* centrar verticalmente los hijos */
    background-color: #ffffff;      /* color de fondo del componente */
    padding: 90px;                    /* espaciado del contenedor */
    font-family: "badcomic";          /* tipo de letra usada */
    height: 100vh;                    /* se establece como altura la correspondiente a la del viewport */
}

main#contenedor-menu-ajustes .menu-ajustes {
    width: 50%;                       /* limita el ancho del contenedor de texto para mantener la legibilidad */
    padding: 30px;                    /* espaciado del contenedor */
    background-color: #d6eaff;      /* color de fondo del contenedor del contenedor */
    border: 3px solid black;        /* color y grosor del borde */
    border-radius: 15px;              /* redondeo de los bordes */
    display: flex;                    /* flexbox para alinear los elementos internos */
    flex-direction: column;           /* los elementos hijos se acomodan verticalmente */
    gap: 2rem;                        /* espacio entre los elementos internos */
}

main#contenedor-menu-ajustes .menu-ajustes .parte-superior h2 {
    text-align: center;           /* centra horizontalmente el texto */
    font-size: 3rem;              /* tamaño de la letra del titulo */
}

main#contenedor-menu-ajustes .menu-ajustes .parte-inferior {
    display: flex;               /* flexbox para alinear los elementos internos */
    flex-direction: column;      /* los elementos hijos se acomodan verticalmente */
    gap: 1.2rem;                 /* espacio entre los elementos internos */
    align-items: center;         /* centrar verticalmente los hijos */
}

main#contenedor-menu-ajustes .menu-ajustes .parte-inferior .boton-ajuste {
    width: 44%;     /* establece el ancho del contenedor de los botones */
}

main#contenedor-menu-ajustes .menu-ajustes .parte-inferior .boton-ajuste .btn {
    width: 100%;             /* cada boton ocupa todo el ancho del contenedor padre */
    font-size: 1.6rem;       /* tamaño de la letra de los botones */
    padding: 12px 20px;      /* espaciado interior de los botones */
    border-radius: 10px;     /* redondeo de los bordes */
    border: none;            /* quitamos el borde de los botones */
    color: black;          /* color de la letra de los botones */
}

#modal[open]{ 
  scale: 1;                            /* se escala el modal a su tamaño normal cuando se hace visible */ 
  transition: scale .3s ease-in-out;   /* animación suave del escalado del modal */

  @starting-style {
    scale: 0;                          /* estado inicial del modal antes de hacerse visible */
  }
}

#modal{
  border-radius: 18px;                   /* redondeo de los bordes */
  text-align: center;                    /* se centra horizontalmente el contenido del modal */
  font-family: "badcomic";               /* tipo de letra usada en el modal */
  scale: 0;                              /* estado inicial del modal (se usa con 'transition') */
  transition: scale .3s ease, display .3s ease allow-discrete;    /* animación suave del escalado del modal para cerrarlo (solo en Chrome) */
}

.modalMensaje {
  background-color: rgb(197, 122, 255);   /* color de fondo del modal */
  border-color: rgb(168, 37, 255);        /* color del borde del modal */
}

.p-modal {
  white-space: pre-line;      /* se interprete los saltos de linea dentro del parrafo del modal */
}

/* cuando la pantalla tenga un ancho inferior a 992px (pantallas pequeñas) */
@media (width < 992px) {
    main#contenedor-menu-ajustes {
        padding: 25px;     /* reducimos el espaciado del contenedor */
    }

    main#contenedor-menu-ajustes .menu-ajustes {
        width: 100%;       /* ocupamos todo el ancho del contenedor padre */
        padding: 20px;     /* reducimos el espaciado del contenedor */
    }

    main#contenedor-menu-ajustes .menu-ajustes .parte-superior h2 {
        font-size: 2.7rem;       /* reducimos el tamaño de la letra */
    }

    main#contenedor-menu-ajustes .menu-ajustes .parte-inferior .boton-ajuste {
        width: 59%;         /* aumentamos el ancho del contenedor */
    }

    main#contenedor-menu-ajustes .menu-ajustes .parte-inferior .boton-ajuste .btn {
        font-size: 1.2rem;     /* reducimos el tamaño de la letra */
    }
}

/* cuando el componente home este pantallas ultra grandes (1440p o más) */
@media (width >= 2560px) and (height >= 1440px) {
    main#contenedor-menu-ajustes {
        padding: 110px;     /* aumentamos el espaciado del contenedor */
    }

    main#contenedor-menu-ajustes .menu-ajustes {
        width: 41%;       /* reducimos el ancho del contenedor */
        padding: 40px;    /* aumentamos el espaciado del contenedor */
    }

    main#contenedor-menu-ajustes .menu-ajustes .parte-superior h2 {
        font-size: 3.5rem;    /* aumentamos el tamaño de la letra */
    }

    main#contenedor-menu-ajustes .menu-ajustes .parte-inferior .boton-ajuste .btn {
        font-size: 2.2rem;    /* aumentamos el tamaño de la letra */
        padding: 15px;        /* ajustamos el espaciado interior de los botones a uno uniforme */
    }
}