<!-- contenedor principal para el contenido del componente -->
<main id="contenedor-registro">

    <!-- contenedor para el formulario de registro -->
    <section class="formulario-registro">
        <a routerLink="/login">Volver</a> <!-- enlace para volver a la página de login -->
        <h2>🤖 REGISTRO DE USUARIO 🤖</h2>
        <form>

            <!-- contenedor para el input del nombre completo del nuevo usuario -->
            <div class="input-group">
                <label class="label-input" for="name">Nombre completo&nbsp;&nbsp;<i class="fa-regular fa-user"></i></label>
                <input type="text" class="form-control" id="name" placeholder="Introduce tu nombre auténtico..." title="Solo letras y espacios." required/>
            </div>

            <!-- contenedor para el input del nombre de usuario -->
            <div class="input-group">
                <label class="label-input" for="user">Nombre de usuario&nbsp;&nbsp;<i class="fa-solid fa-user-secret"></i></label>
                <input type="text" class="form-control" id="user" placeholder="Introduce tu nombre de usuario..." title="Solo letras minúsculas y guión bajo, máximo 15 caracteres." required/>
            </div>

            <!-- contenedor para el input de la direccion email del nuevo usuario -->
            <div class="input-group">
                <label class="label-input" for="mail">Email&nbsp;&nbsp;<i class="fa-regular fa-envelope"></i></label>
                <input type="text" class="form-control" id="mail" placeholder="Introduce tu dirección de email..." title="Solo correos electrónicos válidos." required/>
            </div>

            <!-- contenedor para el input de la contraseña del nuevo usuario -->
            <div class="input-group">
                <label class="label-input" for="pass">Contraseña&nbsp;&nbsp;<i class="fa-solid fa-key"></i></label>
                <input type="password" class="form-control" id="pass" placeholder="Introduce tu contraseña..." title="De 6-12 caracteres, al menos 1 mayúscula, 1 número, 1 carácter especial y sin espacios." required/>
            </div>

            <!-- contenedor para el input en el que el nuevo usuario vuelve a escribir su contraseña -->
            <div class="input-group">
                <label class="label-input" for="confirmPass">Repetir contraseña&nbsp;&nbsp;<i class="fa-solid fa-key"></i></label>
                <input type="password" class="form-control" id="confirmPass" placeholder="Repite la contraseña..." title="Las dos contraseñas deben coincidir." required/>
            </div>

            <!-- contenedor para checkbox opcional si el nuevo usuario acepta que sus datos se usen para terceros -->
            <div class="input-group">
                <input type="checkbox" class="form-check-input" id="thirdParties"/>
                <label class="form-check-label" for="thirdParties" title="Opcional.">Acepto que mis datos se usen por terceros.</label>  
            </div>

            <!-- contenedor para checkbox obligatorio en el que el nuevo usuario acepta los terminos y licencias -->
            <div class="input-group">
                <input type="checkbox" class="form-check-input" id="terms" required/>
                <label class="form-check-label" for="terms" title="Obligatorio.">Acepto los términos y licencia de Let's Kody. <span class="text-danger">*</span></label>  
            </div>

            <div class="g-recaptcha"></div> <!-- contenedor para el reCAPTCHA -->

            <button type="button" routerLink="/validacion" class="btn btn-primary">Registrarse</button> <!-- boton de envio del formulario -->
        </form>
    </section>
</main>