<header>
  <app-navbar-index></app-navbar-index> <!-- componente de la barra de navegación inicial -->
</header>

<!-- contenedor principal para el contenido de bienvenida -->
<main id="contenedor-soporte">

  <!-- sección del formulario de contacto -->
  <section class="contenedor-formulario">
    <h3>📧 ENVÍENOS SU DUDA 📧</h3>
    <form [formGroup]="formularioSoporte" (submit)="enviarEmailSoporte($event)">
      <div class="input-group">
        <input type="email" class="form-control" id="email" placeholder="Escribe tu email..." formControlName="destinatario" required/> <!-- campo de email -->
      </div>
      <div class="input-group">
        <textarea class="form-control" id="mensaje" placeholder="Explícanos la duda o sugerencia que tienes..." formControlName="contenido" required></textarea> <!-- campo de contenido del mensaje -->
      </div>
      <div class="g-recaptcha"></div> <!-- contenedor para el reCAPTCHA -->
      <button type="submit" class="btn btn-info">Enviar</button>
    </form>
  </section>

  <!-- sección de información de contacto -->
  <section class="contenedor-contacto">
    <h3>📞 ATENCIÓN TELEFÓNICA 📞</h3>
    <div class="informacion">
      <p><b>Teléfono:</b> 983 123 456</p>    
      <p><b>Horario:</b> Lunes a Viernes, 9:00 - 18:00</p>
    </div>
    <img src="/img/tipos_kody/kody_soporte.png" alt="Kody teleoperador"> <!-- imagen decorativa -->
  </section>

</main>

<!-- contenedor para el contenido del componente de las redes sociales -->
<footer id="contenedor-rs">
  <app-redes-sociales></app-redes-sociales> <!-- componente de las redes sociales -->
</footer>

<!-- modal para mostrar los mensajes de error cuando se envia el email -->
<dialog id="modal">

    <!-- formulario para el modal (obligatorio que el metodo sea dialog) -->
    <form method="dialog">
        <p [textContent]="mensajeModal" class="p-modal"></p>
        <button type="submit" class="btn btn-dark">CERRAR</button> <!-- boton para cerrar el modal -->
    </form>
</dialog>