<!-- contenedor principal para el contenido del componente -->
<main id="contenedor-validacion">

    <!-- contenedor para el formulario de validación de codigo por email -->
    <section class="validacion-codigo">

    @if(this.gestionUsuariosService.nuevoUsuario.email){
        
        <h2>🧙‍♂️ ¡Bienvenid&#64; aventurer&#64;! 🧙‍♂️</h2>

        <div class="texto-informacion">
            <p>
                ¡Kody está muy emocionado de conocerte! Para unirte a esta gran aventura de aprendizaje,
                te hemos enviado un <b>código mágico</b> a tu correo electrónico (<b>{{emailUsuario}}</b>).
            </p>

            <p>
                Busca el mensaje en tu buzón (y si no lo ves, revisa también en “correo no deseado” por si algún duende lo escondió por error).
            </p>

            <p>
                ¡Escribe el código donde se te pida y desbloquearás tu acceso al mundo de Kody!
            </p>            
        </div>
    }
    @else {

        <h2>🔐 ¡Asegura tu mochila mágica! 🔐</h2>

        <div class="texto-informacion">
            <p>
                Para asegurarnos de que eres tú quien está haciendo estos cambios importantes,
                hemos mandado un <b>código secreto</b> al correo (<b>{{emailUsuario}}</b>).
            </p>

            <p>
                Si no lo encuentras, ¡echa un vistazo en la carpeta de “correo no deseado”! A veces, los búhos mensajeros se confunden de nido.
            </p>

            <p>
                Introduce el código y todo estará listo para seguir tu viaje mágico con Kody.
            </p>
        </div>
    }
        <div class="formulario-validacion">
            <form (submit)="comprobarCodigo($event)">
                <div class="input-group">
                    <input type="text" name="code" [(ngModel)]="codigoVerificacion" (input)="caracteresValidos($event)" minlength="8" maxlength="8" placeholder="Introduce el código..." required/>
                </div>
                <div class="botones">
                    <button type="button" (click)="volver()" class="btn btn-danger">Volver a atrás</button>
                    <button type="submit" [disabled]="codigoVerificacion.length < 8" class="btn btn-primary">Verificar</button>
                </div>
            </form>
        </div>
    </section>
</main>

<!-- modal para indicar si el usuario quiere volver a atrás -->
<dialog id="modalDosBotones">

    <!-- formulario para el modal (obligatorio que el metodo sea dialog) -->
    <form method="dialog">
        <p [textContent]="mensajeModal" class="p-modal"></p>
        <div class="d-flex justify-content-center gap-3">
            <button type="submit" class="btn btn-dark">Cerrar modal</button>
            <button type="submit" (click)="volverAtras()" class="btn btn-dark">Volver a atrás</button> <!-- boton para cerrar el modal -->
        </div>
    </form>
</dialog>

<!-- modal para indicar el exito del registro -->
<dialog id="modalUnBoton">

    <!-- formulario para el modal (obligatorio que el metodo sea dialog) -->
    <form method="dialog">
        <p [textContent]="mensajeModal" class="p-modal"></p>
        <button type="submit" (click)="this.router.navigate(['/login']);" class="btn btn-dark">Volver al login</button>
    </form>
</dialog>

<!-- modal para indicar algun error -->
<dialog id="modalError">

    <!-- formulario para el modal (obligatorio que el metodo sea dialog) -->
    <form method="dialog">
        <p [textContent]="mensajeModal" class="p-modal"></p>
        <button type="submit" class="btn btn-dark">CERRAR</button>
    </form>
</dialog>