<!-- contenedor principal de la sección de redes sociales -->
<div class="social-container">

    <!-- texto que cambia según el tamaño de la pantalla -->
    <div class="social-text" [innerHTML]="texto"></div>

    <!-- contenedor para los botones que tienes los enlaces a las redes sociales -->
    <div class="social-links">

        <!-- Facebook -->
        <a href="https://www.facebook.com" class="btn btn-facebook social-btn" target="_blank"><i class="fab fa-facebook-f"></i></a>

        <!-- X (Twitter) -->
        <a href="https://x.com" class="btn btn-x social-btn" target="_blank"><i class="fab fa-x-twitter"></i></a>

        <!-- Instagram -->
        <a href="https://www.instagram.com" class="btn btn-instagram social-btn" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
</div>
