main#contenedor-juego-numinario1 {
  display: flex;                   /* flexbox para alinear los elementos internos */
  flex-direction: column;          /* los elementos hijos se acomodan verticalmente */
  align-items: center;             /* centrar verticalmente los hijos */
  justify-content: center;         /* centrar horizontalmente los hijos */
  background-color: #ffb1b1;     /* color de fondo del componente */
  padding: 50px;                   /* espaciado del contenedor */
  font-family: "badcomic";         /* tipo de letra usada */
  min-height: 100vh;               /* se establece la altura minima correspondiente a la altura del viewport */
}

main#contenedor-juego-numinario1 .encabezado-juego {
  width: 70%;                        /* limita el ancho del contenedor de texto para mantener la legibilidad */
  display: flex;                     /* flexbox para alinear los elementos internos */
  justify-content: space-between;    /* para dejar espacio uniforme entre los elementos internos */
  margin-bottom: 10px;               /* margen inferior */
  font-size: 1.3rem;                 /* tamaño de la letra usada en el contenedor */
}

main#contenedor-juego-numinario1 .encabezado-juego .volver-menu {
  background-color: yellow;   /* color de fondo del boton de volver */
  border-radius: 10px;          /* redondeo de los bordes */
  font-size: 1.1rem;            /* tamaño de la letra usada en el contenedor */
  border: none;                 /* quitamos el borde de los botones */
  color: black;               /* color de la letra de los botones */
  cursor: pointer;              /* estilo del cursor cuando el mouse esta sobre el boton */
  transition: transform 0.3s ease, background-color 0.4s ease, color 0.4s ease;     /* animacion suave al pasar el mouse sobre el boton */
}

main#contenedor-juego-numinario1 .encabezado-juego .volver-menu:hover {
  background-color: rgb(231, 231, 0);    /* color de fondo del boton cuando este el mouse sobre el boton */
}

main#contenedor-juego-numinario1 .juego-numinario1 {
  width: 70%;                        /* limita el ancho del contenedor de texto para mantener la legibilidad */
  display: flex;                     /* flexbox para alinear los elementos internos */
  flex-direction: column;            /* los elementos hijos se acomodan verticalmente */
  padding: 20px;                     /* espaciado del contenedor */
  border: 3px solid black;         /* color y grosor del borde */
  border-radius: 15px;               /* redondeo de los bordes */
  background-color: #d6eaff;       /* color de fondo del contenedor */
}


main#contenedor-juego-numinario1 .juego-numinario1 .operacion {
  display: flex;                 /* flexbox para alinear los elementos internos */
  justify-content: center;       /* centrar horizontalmente los hijos */
  align-items: center;           /* centrar verticalmente los hijos */
}

main#contenedor-juego-numinario1 .juego-numinario1 .operacion p{
  font-size: 1.8rem;            /* tamaño de la letra usada en el texto de la operación */
  color: black;               /* color de la letra del texto de la operación */
}

main#contenedor-juego-numinario1 .juego-numinario1 .tabla-magica {
  display: flex;                 /* flexbox para alinear los elementos internos */
  justify-content: center;       /* centrar horizontalmente los hijos */
  align-items: center;           /* centrar verticalmente los hijos */
}

main#contenedor-juego-numinario1 .juego-numinario1 .tabla-magica .table-container{
  position: relative;            /* permite posicionar los elementos hijos de forma relativa a este contenedor */
}

main#contenedor-juego-numinario1 .juego-numinario1 .tabla-magica .table-container table{
  border-collapse: separate;                /* permite usar 'border-spacing' entre celdas */
  border-spacing: var(--espaciado-celda);   /* espaciado personalizado entre celdas usando una variable CSS */
  position: relative;                       /* permite posicionar los elementos hijos de forma relativa a este contenedor */
  background-color: transparent;            /* la tabla no tiene fondo por lo que se verá el fondo del contenedor */
  margin: 0 auto;                           /* la tabla se centra horizontalmente */
}

main#contenedor-juego-numinario1 .juego-numinario1 .tabla-magica .table-container table tr td{
  width: var(--ancho-celda);     /* ancho de la celda controlado por variable */
  height: var(--altura-celda);   /* alto de la celda controlado por variable */
  position: relative;            /* permite usar '::after' absolutamente dentro del elemento td */
  overflow: hidden;              /* se oculta el contenido que se desborde (importante para el efecto de imagen recortada) */
  background: linear-gradient(45deg,#a8e6a3,#66cc66,#33aa33,#228b22,#33aa33,#66cc66,#a8e6a3);  /* fondo con gradiente lineal de 45º */
  background-size: 400% 400%;    /* aumenta el área del fondo para permitir un desplazamiento visual amplio */
  animation: gradiente 10s linear infinite;  /* se aplica la animación para crear un efecto de movimiento continuo */
  border-radius: 5px;                        /* redondeo de los bordes */
}

/* manejo de la animación */
@keyframes gradiente {
  0% { 
    background-position: 0% 50%; /* comienza en la parte inferior izquierda */
  }
  100% { 
    background-position: 100% 50%; /* acaba en la parte superior derecha */
  }
}

main#contenedor-juego-numinario1 .juego-numinario1 .tabla-magica .table-container table tr td.mostrarFondo{
  background: none;   /* se elimina el gradiente cuando se añade la clase */
  animation: none;    /* se detiene la animación de fondo de gradiente cuando se añade la clase */
}

main#contenedor-juego-numinario1 .juego-numinario1 .tabla-magica .table-container table tr td.mostrarFondo::after{
  content: "";                          /* pseudo-elemento vacío necesario para insertar la imagen como fondo */
  position: absolute;                   /* Se posiciona respecto al `td` */
  top: 0;                               /* se coloca el borde superior del elemento pegado al borde superior de su contenedor posicionado */
  left: 0;                              /* se coloca el borde izquierdo del elemento pegado al borde izquierdo de su contenedor posicionado */
  width: var(--ancho-total-tabla);      /* ancho total de la tabla */
  height: var(--altura-total-tabla);    /* alto total de la tabla */
  background-image: url("/img/juegos/numinario1/retrato_kody.png");       /* imagen completa a usar */
  background-size: var(--ancho-total-tabla) var(--altura-total-tabla);    /* escala la imagen al tamaño de la tabla */
  background-repeat: no-repeat;         /* evita que la imagen se repita */
  background-position: center center;   /* posición inicial centrada imagen */
  transform: translate( calc(-1 * var(--posicion-x, 0)), calc(-1 * var(--posicion-y, 0)) ); /* con variables CSS se mueve la imagen y que solo se vea la parte correcta */
  z-index: 1;    /* se sitúa encima del contenido de la celda */
}

main#contenedor-juego-numinario1 .juego-numinario1 .formulario {
  margin-top: 20px;      /* margen superior */
}

main#contenedor-juego-numinario1 .juego-numinario1 .formulario .input-group input {
  font-size: 1.1rem;              /* tamaño de la letra usada en el input */
  color: black;                 /* color de la letra del input */
  border: 2px solid black;      /* color y grosor del borde */
}

main#contenedor-juego-numinario1 .juego-numinario1 .formulario .input-group .btn {
  background-color: rgb(57, 180, 0);    /* color de fondo del botón de comprobar */
  font-size: 1.1rem;                      /* tamaño de la letra del botón */
  color: black;                         /* color de la letra del botón */
  border: 2px solid black;              /* color y grosor del borde */
  cursor: pointer;                        /* estilo del cursor cuando el mouse esta sobre el botón */
  transition: transform 0.3s ease, background-color 0.4s ease, color 0.4s ease;     /* animacion suave al pasar el mouse sobre el botón */
}

main#contenedor-juego-numinario1 .juego-numinario1 .formulario .input-group .btn:hover {
  background-color: rgb(67, 212, 0);    /* color de fondo del botón cuando este el mouse sobre é */
}

#modalAbandonar[open], #modalfinJuego[open], #modalError[open]{ 
  scale: 1;                            /* se escala el modal a su tamaño normal cuando se hace visible */ 
  transition: scale .3s ease-in-out;   /* animación suave del escalado del modal */

  @starting-style {
    scale: 0;                          /* estado inicial del modal antes de hacerse visible */
  }
}

#modalAbandonar, #modalfinJuego, #modalError{
  border-radius: 18px;                   /* redondeo de los bordes */
  text-align: center;                    /* se centra horizontalmente el contenido del modal */
  font-family: "badcomic";               /* tipo de letra usada en el modal */
  scale: 0;                              /* estado inicial del modal (se usa con 'transition') */
  transition: scale .3s ease, display .3s ease allow-discrete;    /* animación suave del escalado del modal para cerrarlo (solo en Chrome) */
}

.p-modal {
  white-space: pre-line;      /* se interprete los saltos de linea dentro del parrafo del modal */
}

#modalfinJuego{
  width: 25%;               /* se limita el ancho del modal para mantener la legibilidad */
}

#modalfinJuego form img{
  width: 70%;      /* ancho de la imagen del modal */
  height: auto;    /* mantenemos la proporción de la imagen al ajustar el ancho */
}

/* cuando la pantalla tenga un ancho inferior a 992px (pantallas pequeñas) */
@media (width < 992px) {
  main#contenedor-juego-numinario1 {
    padding: 25px;     /* se reduce el espaciado del contenedor */
  }

  main#contenedor-juego-numinario1 .encabezado-juego {
    width: 100%;       /* se ocupa todo el ancho del contenedor padre */
  }

  main#contenedor-juego-numinario1 .juego-numinario1 {
    width: 100%;       /* se ocupa todo el ancho del contenedor padre */
    padding: 15px;     /* se reduce el espaciado del contenedor */
  }

  main#contenedor-juego-numinario1 .juego-numinario1 .formulario .input-group input {
    font-size: 0.95rem;      /* se reduce el tamaño de letra */
  }

  main#contenedor-juego-numinario1 .juego-numinario1 .formulario .input-group .btn {
    font-size: 0.95rem;      /* se reduce el tamaño de letra */
  }

  #modalfinJuego{
    width: 90%;            /* se ocupa casi todo el ancho del contenedor padre */
  }
}

/* cuando el componente home este pantallas ultra grandes (1440p o más) */
@media (width >= 2560px) and (height >= 1440px) {
  main#contenedor-juego-numinario1 {
    padding: 120px;     /* aumentamos el espaciado del contenedor */
  }

  main#contenedor-juego-numinario1 .encabezado-juego {
    width: 60%;         /* se reduce el ancho del contenedor */
    font-size: 1.6rem;  /* se aumenta el tamaño de letra */
  }

  main#contenedor-juego-numinario1 .encabezado-juego .volver-menu {
    font-size: 1.5rem;  /* se aumenta el tamaño de letra */
  }

  main#contenedor-juego-numinario1 .juego-numinario1 {
    width: 60%;       /* se reduce el ancho del contenedor */
  }

  main#contenedor-juego-numinario1 .juego-numinario1 .operacion p{
    font-size: 2.1rem;      /* se aumenta el tamaño de letra */
  }

  main#contenedor-juego-numinario1 .juego-numinario1 .formulario .input-group input {
    font-size: 1.3rem;        /* se aumenta el tamaño de la letra */
  }

  main#contenedor-juego-numinario1 .juego-numinario1 .formulario .input-group .btn {
    font-size: 1.3rem;           /* se aumenta el tamaño de la letra */
  }
}